{% extends "base.html" %}
{% block content %}



{% if not materials %}
    <p>No hay material informativo.</p>
{% else %}
<div class="container" style="background: beige">

  {% for material in materials %}
    <div>
        <div class="row" id="material-container">
          <div class="col-12">
            <div class="row col-md-12">
                <h3 class="text-success">{{ material.title }}</h3>
            </div>
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px; background:white;">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <img src="" width="99%" style="border-radius:5px; border:1px solid #bbb9b9;" />
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="row pr-3">
                            <div class="col-8">
                                <label class="text-primary" style="font-size:21px; color:maroon">{{material.description}}</label>
                            </div>
                            <div class="col-4 text-right" style="color:maroon">
                                <h5> {{material.creation_date}}</h5>
                            </div>
                        </div>

                        <div class="row col-12 text-justify d-none d-md-block">
                            <p>{{material.content}}</p>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-9 text-center">
                            <a href="{{material.id}}" class="btn btn-primary form-control">Detalles {{material.id}}</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="p-4"></div>
    </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
