{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="card" style="width: 25rem;">
  <img src="{% static 'home/voluntariado.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      Si deseas trabajar para difundir y mejorar la calidad de vida y salud ambiental.
      Registrate y te contactaremos.
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7p31CQXoCwq_1eNIpbOEh9j1xp4DgLlqAWl9HcBM6BZJ2KQ/viewform" class="card-link" target="blank">Registro</a>
  </div>
</div>

{% endblock %}